<div class="title-block">
  <h3 class="title pull-left">
      Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefrash()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded">
    <block-animated-loader></block-animated-loader>  
  </div>
  <div class="row" *ngIf="isLoaded">     
        <block-bill-card [bill]="bill" [currency]="currency"></block-bill-card>
        <block-currency-card [currency]="currency"></block-currency-card>
  </div>
</section>